{% extends 'app1/base.html' %}

{% block container %}
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.5311878339703!2d121.05997443889267!3d14.625761971907425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b796aecb8763%3A0xaa026ea7350f82e7!2sTechnological%20Institute%20of%20the%20Philippines%2C%20Inc.!5e0!3m2!1sen!2sph!4v1581491693076!5m2!1sen!2sph" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    {{ message }}
    <h2>Data</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.id }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.email }}</td>
            <td><a class="btn btn-primary" href="/delete/{{ account.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}