{% extends 'app1/base.html' %}

{% block container %}
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    {{ message }}
    <h2>Data</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.id }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.email }}</td>
            <td><a class="btn btn-primary" href="/delete/{{ account.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}